[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_open_brace_types = true
csharp_new_line_before_open_brace_control_blocks = false
csharp_new_line_before_open_brace_methods = true
